table {
   border-collapse: separate;
   border-spacing: 20px 10px;
}

/*.description {
  color: red;
}

.notes {
  color: green;
}

.note {
  color: grey;
}

.list_ingrédients {

}
.ingredient {
  color: purple;
}

.alinéa {
  text-decoration: none;
}*/
